#root{
    width: 100%;
}

p{
    text-align: justify;
}

.titleWrapper{
    transition: .2s;
    position: relative;
}

.firstTitle{
    color: var(--terciary-brand-color);
    transition: .2s;
}

.firstTitleCustom{
    color: var(--secondary-brand-color);
    font-size: 4rem;
}

.secondTitle{
    color: var(--secondary-brand-color);
    transition: .2s;
}

.pageCenter{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 60dvh;
}

.pageCenter h1{
    margin: 0;
}

.notVisible{
    visibility: hidden;
    font-size: 0px;
    margin: 0;
}